apiVersion: aws.m.upbound.io/v1beta1 #--Namespaced endpoint. Allows namespaced MR creation.
kind: ClusterProviderConfig          
metadata:
  name: aws
spec:
  credentials:
    source: IRSA #--Look up credentials from the environment, using IRSA. As our Provider already has this loaded in it's env, authentication is transparent
  #--This configuration allows us to link multiple AWS services to a single ClusterProviderConfig
  endpoint:
    url:
      type: Dynamic
      dynamic:
        host: amazonaws.com
        protocol: https
    services: [s3] #--Expand this list as needed for other AWS services, sqs, iam, ec2 etc.
